.flickr-widget .carousel-caption {
  text-align: left;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(#212121, 0.5);

  .carousel-caption {
    
    &-title {
      font-size: 1.2em;
      margin: 0;
      padding-right: 2px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
    }

  }

}