@import '../../../../scss/theme/variables';
@import '../../../../scss/theme/mixins';

.flickr-widget {

  .carousel {
    background-color: $gray-darker;

    .carousel-inner {
      @include responsive-rectangle(66.6%);
    }

    .item {
      @include responsive-rectangle-content();
      background: no-repeat 50% 50%;
      background-size: contain;
    }

  }

}
